$foreground: black;
$foreground-notice: lighten($foreground, 50%);

$active: darken(rgba(99, 195, 232, 1), 25%);
$active-hover: lighten($active, 5%);
$active-shadow: darken($active, 25%);

$console-background: black;
$console-foreground: #0f0;
