$foreground: black;
$foreground-notice: lighten($foreground, 30%);

$active: #146585;
$active-hover: lighten($active, 5%);
$active-shadow: darken($active, 25%);

$console-background: black;
$console-foreground: #0f0;
