<div class="machine-state test-machine-state">
  <ul>
    <li>AX: <span class="test-register-ax" id="register_ax">0</span></li>
    <li>BX: <span class="test-register-bx" id="register_bx">0</span></li>
    <li>CX: <span class="test-register-cx" id="register_cx">0</span></li>
    <li>DX: <span class="test-register-dx" id="register_dx">0</span></li>
  </ul>
</div>
