<div class="side-pane">
  <h2 class="side-pane__heading">Machine State</h2>

  <ul class="machine-state__list test-machine-state">
    <li class="machine-state__pair">
      <div class="machine-state__label">AX</div>
      <div class="machine-state__value test-register-ax" id="register_ax">0</div>
    </li>
    <li class="machine-state__pair">
      <div class="machine-state__label">BX</div>
      <div class="machine-state__value test-register-bx" id="register_bx">0</div>
    </li>
    <li class="machine-state__pair">
      <div class="machine-state__label">CX</div>
      <div class="machine-state__value test-register-cx" id="register_cx">0</div>
    </li>
    <li class="machine-state__pair">
      <div class="machine-state__label">DX</div>
      <div class="machine-state__value test-register-dx" id="register_dx">0</div>
    </li>
  </ul>

  <h2 class="side-pane__heading">Commands</h2>

  <ul class="reference-list">
    <li>mov ax, 10d</li>
    <li>mov ax, bx</li>
    <li>inc ax</li>
    <li>dec ax</li>
    <li>add ax, 17o</li>
    <li>add ax, dx</li>
    <li>sub ax, FFh</li>
    <li>sub ax, bx</li>
  </ul>
</div>
