.machine-state__list {
  padding: 0;
  list-style-type: none;
}

.machine-state__pair {
  margin-bottom: 1em;
}

.machine-state__label {
  line-height: 2;
}

.machine-state__value {
  border: 1px solid currentcolor;
  display: flex;
}
