.message-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 0 1rem 0.5rem 1rem;
  border-top: 1px solid $foreground-notice;
}

%message-form-field {
  margin: 1rem;
}

.message-form__username-field {
  @extend %message-form-field;
  flex: 1 1 auto;
  max-width: 15rem;
}

.message-form__message-field {
  @extend %message-form-field;
  flex: 2 2 auto;
}

.message-form__submit {
  @extend %message-form-field;
  flex: 1 1 auto;
  max-width: 15rem;
  padding-top: 2rem;
}
